
<header>
  <div class="container">
    <a routerLink="/" class="logo">Food Corner</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login" class="header-nav">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/" class="header-nav">Options</a>
          <div class="menu">
            <a routerLink="" class="header-nav">Profile</a>
            <a routerLink="" class="header-nav">Orders</a>
            <a class="header-nav">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page" class="header-nav">
            Cart <span class="cart-qty">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
